[submodule "foon_to_pddl"]
	path = foon_to_pddl
	url = https://github.com/davidpaulius/foon_to_pddl

[submodule "OMPLement"]
	path = OMPLement
	url = https://github.com/davidpaulius/OMPLement
[submodule "downward"]
	path = downward
	url = https://github.com/aibasel/downward
